body {
    background-image: url(../images_fournies/4.jpg);
    background-position: center;
    background-size: 200%;
    background-repeat: repeat;
    font-family: 'Playfair Display', serif;
    color: goldenrod;
}

h1 {
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: goldenrod;
    text-align: left;
    text-decoration: underline;
}

h3 {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: goldenrod;
    text-align: right;
    text-decoration: underline;
}

h6 {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: goldenrod;
    text-decoration: underline;
}

p {
    font-family: 'Playfaire Display', SemiBold;
    font-weight: 600;
    font-size: 25px;
    color: goldenrod;
    text-align: center;
}

p.speciale {
    font-family: 'Playfaire Display', SemiBold;
    font-weight: 600;
    font-size: 25px;
    color: goldenrod;
    text-align: right;
}

span.surligne {
    background-color: rgb(47, 47, 128);
}

ul {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: goldenrod;
    text-decoration: underline;
    list-style-type: circle;
    padding-left: 1.5em;
}

a {
    color: goldenrod;
    font-family: 'Playfaire Display', Regular;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    text-decoration: underligne;
}

img {
    border: goldenrod solid 1px;
    width: 125px;
    display: block;
    margin: auto;
}

img.speciale {
    border: goldenrod solid 1px;
    width: 400px;
    position: absolute;
    right: 10em;
}

img.speciale2 {
    border: goldenrod solid 1px;
    width: 500px;
    position: absolute;
    left: 1em;
    transform: scaleX(-1);
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
}

footer {
    font-family: 'Playfaire Display', Regular;
    font-size: 15px;
    color: goldenrod;
    text-align: left;
}

section {
    margin-bottom: 2rem;
}

div {
    text-align: center;
    color: goldenrod;
    font-family: 'Playfaire Display', Regular;
    font-size: xx-large;
}
