body {
background-image: url("images_fournies/4.jpg");
background-position: center;
background-size: 200%;
background-repeat: repeat;
color: goldenrod;
font-family: 'Playfair Display', serif;
}


h1 {
font-family: 'Playfair Display', serif;
font-weight: 700;
font-style: italic;
font-size: 60px;
color: goldenrod;
text-align: center;
text-decoration: underline;
}

h3 {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 25px;
color: goldenrod;
text-align: left;
}

span.surligne {
background-color: rgb(47, 47, 128);
}

a {
color: goldenrod;
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 25px;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

ul {
text-align: left;
color: goldenrod;
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 25px;
}

table {
width: 95%;
margin: 0 auto;
border: 3px solid goldenrod;
border-collapse: collapse;
}

td,
th {
border: 3px solid goldenrod;
background-color: rgb(47, 47, 128);
text-align: center;
color: goldenrod;
padding: 10px;
vertical-align: middle;
}

td:first-child + td,
td:first-child + td + td,
td:first-child + td + td + td {
font-size: 25px;
}

th:first-child,
th:first-child + th,
th:first-child + th + th,
th:first-child + th + th + th {
font-size: 25px;
}

img {
border: goldenrod solid 1px;
width: 125px;
display: block;
margin: auto;
}

.image {
border: goldenrod solid 1px;
width: 100px;
display: block;
margin: 0;
}

.container {
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
flex-wrap: wrap;
}

figcaption {
text-align: center;
}

footer {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 15px;
color: goldenrod;
text-align: left;
}

