body {
background-image: url(../images_fournies/4.jpg);
background-position: center;
background-size: 200%;
background-repeat: repeat;
}

h1 {
font-family: 'Playfair Display', bold italic;
font-size: 60px;
color: goldenrod;
text-align: center;
text-decoration: underline;
}

p {
font-family: 'Playfair Display', SemiBold;
font-size: 25px;
color: goldenrod;
text-align: center;
}

p.spéciale {
font-family: 'Playfair Display', SemiBold;
font-size: 30px;
color: goldenrod;
text-align: left;
}

span {
background-color: rgb(47, 47, 128);
}

a {
color: goldenrod;
font-family: 'Playfair Display', Regular;
font-size: 25px;
}

div {
text-align: center;
color: goldenrod;
font-family: 'Playfair Display', Regular;
font-size: xx-large;
}

div.spéciale {
display: flex;
justify-content: center;
align-items: center;
}

form {
max-width: 600px;
background-color: rgb(108, 108, 216);
padding: 20px;
}

legend {
font-family: 'Playfair Display', SemiBold;
font-size: 30px;
color: goldenrod;
text-align: center;
}

img {
border: goldenrod solid 1px;
width: 125px;
display: block;
margin: auto;
}

figcaption {
text-align: center;
}

footer {
font-family: 'Playfair Display', Regular;
font-size: 15px;
color: goldenrod;
text-align: left;
}
