h1
{
    font-family: 'Playfaire Display', bold italic;
    font-size: 60px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
}

span
{
    background-color: rgb(47, 47, 128);
}

body
{
    background-image: url(../images_fournies/4.jpg);
    background-position: center;
    background-size: 300%;
    background-repeat: repeat;
}

footer
{
    font-family: 'Playfaire Display', Regular;
    font-size: 15px;
    color: goldenrod;
    text-align: left;
}

h2
{
    font-family: 'Playfaire Display', bold italic;
    font-size: 30px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
}

li
{
    font-family: 'Playfaire Display', bold italic;
    font-size: 20px;
    color: goldenrod;
    text-align: left;
}


img
{
    border: goldenrod solid 1px;
    width: 125px;
    display: block;
    margin: auto;
}

p
{
    font-family: 'Playfaire Display', SemiBold;
    font-size: 25px;
    color: goldenrod;
    text-align: center;
}

figcaption
{
    text-align: center;
}

a
{
    color: goldenrod;
    font-family: 'Playfaire Display', Regular;
    font-size: 25px;
}

table
{
    width: 95%;
    margin: 0 auto;
    border: 3px solid goldenrod;
}

td
{
    border: 3px solid goldenrod;
    background-color: rgb(47, 47, 128);
    color: goldenrod;
}

th
{
    color: goldenrod;
    background-color: rgb(47, 47, 128);
    border: 3px solid goldenrod;
    text-align: center;
}

th:first-child, th:first-child+th, th:first-child+th+th, th:first-child+th+th+th
{
    font-size: 25px;
}

div
{
    text-align: center;
    color: goldenrod;
    font-family: 'Playfaire Display', Regular;
    font-size: xx-large;
}
